atomate==0.9.5
pymatgen==2020.12.31
pymatgen-diffusion==2020.10.8
monty==4.0.2
pydash==4.9.0
tqdm==4.52.0
prettyplotlib==0.1.7
pybtex==0.23.0
networkx==2.5
sumo==2.1.0
nltk==3.5
matminer==0.6.4
maggma==0.26.0
robocrys==0.2.6
urllib3==1.24.3
