monty==2022.4.26
pydantic==1.8.2
pymatgen==2022.7.25
pybtex==0.24.0
typing-extensions==4.3.0
seekpath==2.0.1
setuptools-scm==7.0.5
robocrys==0.2.7
matminer==0.7.8
pymatgen-analysis-diffusion==2022.7.21
pymatgen-analysis-alloys==0.0.4
