log4mongo>=1.7.0
PrettyTable>=0.7.2
click>=7.1.1
urllib3<1.25
oauth2client>=4.1.3
google-api-python-client>=1.8.0
bravado>=10.5.0
zipstream-new==1.1.5
FireWorks>=1.9.5
atomate>=0.9.4
pymatgen>=2020.3.13
mongogrant>=0.3.0
click-log>=0.3.2
colorama>=0.4.3
