name: docs

on:
  workflow_dispatch:
  workflow_call:

jobs:
  docs:
    if: github.repository_owner == 'materialsproject'
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    strategy:
      matrix:
        os: ["ubuntu-latest"]
        python-version: ["3.11"]

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: 3.11

      - name: Install Python dependencies
        run: |
          python${{ matrix.python-version }} -m pip install --upgrade pip pip-tools
          python${{ matrix.python-version }} -m pip install `grep numpy emmet-core/requirements/${{ matrix.os }}_py${{ matrix.python-version }}_extras.txt`
          python${{ matrix.python-version }} -m piptools sync emmet-core/requirements/${{ matrix.os }}_py${{ matrix.python-version }}_extras.txt
          python${{ matrix.python-version }} -m pip install `grep numpy emmet-builders/requirements/${{ matrix.os }}_py${{ matrix.python-version }}_extras.txt`
          python${{ matrix.python-version }} -m piptools sync emmet-builders/requirements/${{ matrix.os }}_py${{ matrix.python-version }}_extras.txt
          python${{ matrix.python-version }} -m pip install `grep numpy emmet-api/requirements/${{ matrix.os }}_py${{ matrix.python-version }}_extras.txt`
          python${{ matrix.python-version }} -m piptools sync emmet-api/requirements/${{ matrix.os }}_py${{ matrix.python-version }}_extras.txt

      # TODO: To install graphiz and therefore use erdantic to draw pydantic models:
      # - name: Install graphviz
      #   run: |
      #     # Required to generate entity-relationship diagrams for pydantic with erdantic
      #     # mac users should `brew install graphviz`, then
      #     # `CC=gcc CPPFLAGS="-I$(brew --prefix graphviz)/include" LDFLAGS="-L$(brew --prefix graphviz)/lib" pip install pygraphviz`
      #     # See: https://github.com/pygraphviz/pygraphviz/issues/572
      #     sudo apt install graphviz
      #     sudo apt install graphviz-dev

      - name: Build
        run: python${{ matrix.python-version }} -m sphinx docs docs/_build

      - name: Upload build artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./docs/_build

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
