name: release

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    strategy:
      max-parallel: 1
      matrix:
        package: ["emmet-core", "emmet-builders", "emmet-api"]

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip build
          pip install --upgrade setuptools setuptools_scm wheel

      - name: Build packages
        run: python -m build
        working-directory: ./${{ matrix.package }}/

      - name: Publish package
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          packages-dir: ./${{ matrix.package }}/dist/

  docs:
    runs-on: ubuntu-latest
    needs:
      - deploy
    strategy:
      matrix:
        os: ["ubuntu-latest"]
        python-version: ["3.11"]

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: 3.11

      - name: Install Python dependencies
        shell: bash -l {0}
        run: |
          python${{ matrix.python-version }} -m pip install --upgrade pip pip-tools
          python${{ matrix.python-version }} -m pip install --user `grep numpy emmet-core/requirements/${{ matrix.os }}_py${{ matrix.python-version }}_extras.txt`
          python${{ matrix.python-version }} -m piptools sync --user emmet-core/requirements/${{ matrix.os }}_py${{ matrix.python-version }}_extras.txt
          python${{ matrix.python-version }} -m pip install --user `grep numpy emmet-builders/requirements/${{ matrix.os }}_py${{ matrix.python-version }}_extras.txt`
          python${{ matrix.python-version }} -m piptools sync --user emmet-builders/requirements/${{ matrix.os }}_py${{ matrix.python-version }}_extras.txt
          python${{ matrix.python-version }} -m pip install --user `grep numpy emmet-api/requirements/${{ matrix.os }}_py${{ matrix.python-version }}_extras.txt`
          python${{ matrix.python-version }} -m piptools sync --user emmet-api/requirements/${{ matrix.os }}_py${{ matrix.python-version }}_extras.txt

      - name: Generate changelog
        uses: charmixer/auto-changelog-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          exclude_labels: dependencies

      - name: Commit files
        run: |
          git config --local user.email "feedback@materialsproject.org"
          git config --local user.name "materialsproject"
          git stash
          git pull origin main
          mv CHANGELOG.md docs/
          git add docs/CHANGELOG.md && git commit -m 'Updated CHANGELOG.md'

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install graphviz
        run: |
          # Required to generate entity-relationship diagrams for pydantic with erdantic
          # mac users should `brew install graphviz`, then
          # `CC=gcc CPPFLAGS="-I$(brew --prefix graphviz)/include" LDFLAGS="-L$(brew --prefix graphviz)/lib" pip install pygraphviz`
          sudo apt install graphviz
          sudo apt install graphviz-dev

      - name: Build
        run: sphinx-build docs docs/_build

      - name: Upload build artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./docs/_build

  deploy-docs:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    needs: docs
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
