name: release

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        package: ["emmet-core", "emmet-builders", "emmet-api"]

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools setuptools_scm wheel

      - name: Build packages
        run: python setup.py sdist bdist_wheel
        working-directory: ./${{ matrix.package }}/

      - name: Commit files
        run: |
          git config --local user.email "feedback@materialsproject.org"
          git config --local user.name "materialsproject"
          git pull origin main
          git add ${{ matrix.package }}/_version.py && git commit -m 'Updated version file'

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish package
        uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.PYPY_API_TOKEN }}
          packages_dir: ./${{ matrix.package }}/dist/

  docs:
    runs-on: ubuntu-latest
    needs:
      - deploy

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install emmet-core emmet-builders emmet-api
          pip install -r requirements-docs.txt

      - name: Generate changelog
        uses: charmixer/auto-changelog-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          exclude_labels: dependencies

      - name: Commit files
        run: |
          git config --local user.email "feedback@materialsproject.org"
          git config --local user.name "materialsproject"
          git stash
          git pull origin main
          mv CHANGELOG.md docs/
          git add docs/CHANGELOG.md && git commit -m 'Updated CHANGELOG.md'

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build
        run: mkdocs build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site
